/*fonts*/

@import "fonts.css";


/*Specification*/

*{
	box-sizing: border-box;
}

*:focus {
	outline: none !important;
	box-shadow: none !important;
}

html{
	overflow-x: hidden;
	width: 100vw;
}

body{
	font-family: "Monserrat", "Arial", sans-serif;
	padding: 0;
	margin: 0;
	letter-spacing: 1px;
	font-size: 16px;
	color: #848484;
	font-weight: 300;
	line-height: 1.5em;
}

.container{
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1210px;
	width: 100%;
}

ul, li{
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6{
	color: #fff;
	text-align: center;
	margin: 0;
	line-height: 1.1em;
}

h1{
	font-family: "Raleway", sans-serif;
	font-size: 52px;
	color: #fff;
	font-weight: 800;
	/*font-size: calc(65px + (35)*(100vw / 1920))*/

	letter-spacing: .5px;
	margin: 10px 0;
}

h2{
	color: #fff;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 36px;

	letter-spacing: .5px;
}

h3{
	font-size: 30px;
	color: #000;
	font-weight: 600;
}

h4{
	font-size: 22px;
	font-weight: 500;
	color: #c4c4c4;
}

a, a:hover, a:active{
	text-decoration: none;
	color: inherit;
}

p{
	margin: 0;
	padding: 0;
}

img{
	width: 100%;
	height: 100%;
}

.btn{
  	border-radius: 3px;
  	background-color: #998675;
  	box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  	text-align: center;
  	padding: 10px 25px;
  	color: #fff;
  	text-transform: uppercase;
	font-weight: 800;
	font-size: 14px;
	letter-spacing: 1px;
	border: 1px solid #998675;
	transition-duration: .2s;
}

.btn:hover {
	background-color: transparent;
}
/*Header*/
	
header{
/*	background-color: #292423;*/
	width: 100vw;
	height: 100vh;
	min-width: 0;
	padding-top: 30px;
}

.header__container{
	display: flex;
	flex-direction: column;
	/*justify-content: space-between;*/
	min-height: 100vh;
}
.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 3;
}

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  position: fixed;
}

/* стилизуем кнопку */
.menu__btn {
	opacity: 0;
  	display: flex; /* используем flex для центрирования содержимого */
  	align-items: center;  /* центрируем содержимое кнопки */
  	position: fixed;
 /* 	top: 45px;
*/  	left: 20px;
  	width: 26px;
  	height: 26px;
  	cursor: pointer;
  	z-index: 4;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  	display: block;
  	position: absolute;
  	width: 100%;
  	height: 2px;
  	background-color: #fff;
 	transition: all 0.2s ease;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.logo {
	flex: 0 0 200px;
	font-family: "Raleway", sans-serif;
	font-size: 34px;
	font-weight: 400;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 10px;
}

.logo:hover{
	color: #fff;
}

.logo__img{
	width: 0;
	height: 0;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 1 766px;
	padding-left: 10px;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 1 650px;
}

.nav__item {
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
	position: relative;
}

.nav__link {
	padding: 5px;
	color: #fff;
}

.nav__link_icon {
	font-size: 24px;
	transition-duration: .2s;
}

.nav__link_icon:hover {
	color: #998675;
}

.cart span {
	font-size: 0;
}
.nav__item:after {
	content: "";
	position: absolute;
	width: 120%;
	height: 1px;
	background-color: #fff;
	bottom: 0;
	left: -10%;
	opacity: 0;
	transition-duration: .2s;
}

.nav__item:hover:after {
	opacity: 1;
	bottom: -5px;
}
.nav__icons {
	/*top: 45px;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 0 70px;
}

.offer{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	max-width: 640px;
	width: 100%;
}

.offer._animate {
	transition-delay: .2s;
}

.offer._animate-left {
	transform: translate(-70%, -50%);
}

.offer._animate-Active {
	transform: translate(-50%, -50%);
	opacity: 1;
}

.offer__text {
	text-align: center;
}
.offer__btn {
	margin-top: 50px;
}

.slider {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	min-width: 0;
	overflow-x: hidden;
}
.slider__item {
	height: 100vh;
}
.slider__item img {
	object-fit: cover;
}
.slider__item {
	-o-object-fit: cover;
	   object-fit: cover;
	position: relative;
	
}
.slider__item::after {
	top: 0;
	left: 0;
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	content: '';
}

/* Слайдер */
.slick-slider{

}
/* Слайдер запущен */
.slick-slider.slick-initialized{

}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {}
/* Лента слайдов */
header .slick-track{
	display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */



header .slick-arrow{
	font-size: 0;
	position: absolute;
	width: 40px;
	height: 73px;
	border: none;
	background-color: transparent;
	z-index: 2;
	cursor: pointer;
	box-sizing: content-box;
	padding: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/header-right.svg);
	transition-duration: .2s;
	filter: grayscale(100%);
}

/* Стрелка влево */
header .slick-arrow.slick-prev{
	top: 50%;
	transform: translateY(-50%) scale(-1, 1);
	left: 7%;
}
/* Стрелка вправо */
header .slick-arrow.slick-next{
	top: 50%;
	transform: translateY(-50%);
	right: 7%;
}



/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
header .slick-dots{
	display: flex;
	align-items: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10px;
}
header .slick-dots li{
	background-color: transparent;
	border-radius: 50%;
	opacity: 0.502;
	width: 11px;
 	height: 11px;
 	margin: 0 5px;
 	font-size: 0;
 	background-color: #999897;
 	box-sizing: content-box;
}
/* Активная точка */
header .slick-dots li.slick-active{
	background-color: transparent;
	border: 2px solid #d3c1ad;
	font-size: 0;
}
/* Элемент точки */
header .slick-dots li button{
	font-size: 0;
	opacity: 0;
}


/*Works*/

.works {
	width: 100%;
	padding: 80px 0;
}

.works__title {
	margin-bottom: 60px;
}
.work__list {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
}

.work__item {
	flex: 0 1 25%;
	padding: 0 10px 30px 10px;
	display: flex;
	justify-content: flex-start;
}

.work__link {
	max-width: 270px;
}

.work__item:nth-child(odd){
	justify-content: flex-end;
}

.work__item:hover .icon, .work__item:hover h4 {
	color: #c7b299;
}

.work__item:hover .work__link::after{
	background-color: #c7b299;
}

.work__link{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	height: 100%;
}

.work__link::after {
	width: 70px;
	height: 3px;
	position: absolute;
	bottom: -30px;
	left: 50%;
	transform: translateX(-50%);
	content: " ";
	background-color: #f1eee9;
	transition: all .2s ease;
}

.work__item h4{
	color: #555;
	font-weight: 600;	
	font-family: "Raleway", sans-serif;
	background-color: #fff;
	transition: all .2s ease;
	margin-bottom: 25px;
}

.work__text {
	text-align: center;
	position: relative;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 1px;
}

.icon{
	font-size: 43px;
	transition: all .2s ease;
	margin-bottom: 35px;
}

.work__item:hover i{
	transform: scale(-1) rotate(180deg);
}


/*=============================================*/
/*Idea*/
.ideas {}
.ideas .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.ideas__title {
	margin-bottom: 20px;
}

.ideas__text {
	text-align: center;
	margin-bottom: 20px;
	max-width: 800px;
	letter-spacing: 1px;
}
.ideas__img {
	width: 100%;
	display: flex;
	align-items: flex-end;
}

.ideas-img {
	-o-object-fit: cover;
	   object-fit: cover;
}

.thanks {
  	background-image: 
  				linear-gradient( 90deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  	padding: 40px 0;
  	
}

.thanks p {color: #fff;
  	text-align: center;
  	font-size: 25px;
}

.thanks span {
	color: #c7b299;
}


/*=====================================*/
/*Projects*/


.projects {
	margin: 80px 0;
	padding: 0 0 30px;
}
.projects .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1240px;
}
.projects__title {
	margin-bottom: 20px;	
}
.projects__text {
	max-width: 720px;
	text-align: center;
	margin-bottom: 40px;	

}
.projects__tabs {
	align-items: center;
	margin-bottom: 40px;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: -30px;
}

.projects__tabs:last-child {
/*	margin-right: 0;*/
}


.projects__tab-btns {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 40px;
}


.projects__tab-btn:last-child {
	margin-right: 0;
}

.projects__tab-btns input {
	width: 0;
	height: 0;
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.projects__tab-btns label {
	padding: 10px 16px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
	color: #8c8c8c;
	margin-bottom: 10px;
}

.projects__tab-btns input:checked + label {
	background-color: #998675;
	color: #fff;
}

.projects__tab-btns label:last-child {
	margin-right: 0;
}

#projects__content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}
.project {
	flex: 0 0 calc(33.3333% - 30px);
	min-width: 270px;
	margin: 0 15px;
	background-color: #fbfaf8;
	margin-bottom: 30px;
	transition: all .2s ease;
}

.project:nth-child(3n) {
/*	margin-right: 0;*/
}


.project:hover {
	background-color: #362f2d;
}
.project:hover .project__title {
	color: #fff;
}

.project:hover .project__subtitle {
	color: #c7b299;
}

.project:hover .project__overlay {
	opacity: 1;
}

.project__img-wrapper {
	position: relative;
	height: 237px;
}
.project__img {
	-o-object-fit: cover;
	   object-fit: cover;


}
.project__overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .2s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay_btns {
	color: #fff;
	font-size: 20px;
	transition: all .2s ease;
}

.overlay_btns:hover span {
	color: #c7b299;
}

.overlay_btns i {
	color: #fff;
	padding: 10px;
	/* margin-right: 10px; */
	font-size: 25px;

}

.overlay_btns:hover i {
	color: #c7b299;
}

.overlay_btns a+a i {
	margin: 0;
}
.project__content {
	padding: 30px;
}
.project__title {
	color: #c7b299;
	font-family: "Raleway", "Arial", sans-serif;
	font-size: 20px;
	font-weight: 500;
	transition: all .2s ease;
}
.project__theme {
	font-size: 14px;
	font-weight: 300;
	color: #d1d1d1;
	transition: all .2s ease;
}
.projects__load {
	margin-top: 40px;
	-ms-grid-row-align: center;
	    align-self: center;
	display: inline-block;
}


/*========================================*/
/*Presentation*/

.presentation {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

		width: 100vw;
		height: 60vw;
/*		height: 60vw;*/
/*		max-height: 710px;
		height: 100%;*/
}

.presentation__video {
/*		width: 100%;
		height: 100%;*/
		width: 100vw;
			height: 60vw;
			max-height: 710px;
		position: relative;
		/*aspect-ratio: 16 / 9;*/


}

.presentation__overlay {
	background-image: url(../img/presentation-poster.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.overlay__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.presentation__overlay i {
	font-size: 70px;
	margin-bottom: 40px;
	position: relative;
	z-index: 2;
	cursor: pointer;
	transition-duration: .1s;
}

.presentation__overlay i:hover {
	color: #c7b299;
}

.presentation__overlay i:after {
	content: " ";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	position: absolute;

	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.5);
}
.presentation__title {
	font-weight: 500;
	margin-bottom: 25px;
	color: #fff;
}
.presentation__text {
	text-align: center;
	max-width: 570px;
	margin-bottom: 40px;
}
.presentation__length {
	color: #c7b299;
}


.presentation__video:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(#img/presentation-poster.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;
}

/*Mobile*/

.mobile {
	background-color: #fbfaf8;
	padding-top: 80px;
}

.mobile .container {
	display: flex;
	justify-content: center;
}

.mobile__img {
	max-width: 700px;
	width: 100%;
}
.mobile-img {
	-o-object-fit: cover;
	   object-fit: cover;
	width: 100%;
	height: 100%;
}

.mobile__content {
	max-width: 600px;
	width: 100%;
	margin-left: 10px;
	-ms-grid-row-align: center;
	    align-self: center;
}

.mobile__content h3{
	text-align: left;
}

.mobile__content p{
	margin: 	35px 0;
}

.mobile__advantages {
	margin-left: 50px;
}
.mobile__advantages li {
	padding-left: 51px;
	background-image: url(../img/mobile.svg);
	background-repeat: no-repeat;
	margin: 10px 0;
}


/*Counts*/

.counts {
  background-image: 
  				linear-gradient( 90deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  	padding: 65px 0;

}
.counts .container {
	display: flex;
	justify-content: space-between;
	max-width: 960px;
}

.count {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.count:last-child {
	margin-right: 0;
}
.count__number {
	padding-top: 75px;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	text-align: center;

	font-size: 48px;
	font-weight: 200;
	color: #fff;
}

.c1{
	background-image: url(../img/count1.svg);
}

.c2{
	background-image: url(../img/count2.svg);
}

.c3{
	background-image: url(../img/count3.svg);
}

.c4{
	background-image: url(../img/count4.svg);
}

.c5{
	background-image: url(../img/count5.svg);
}

.count__text {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
	color: #c7b299;
	opacity: 0.8;
	margin-top: 15px;
	letter-spacing: 0;
	text-align: center;
	white-space: nowrap;
}


/*==============================================*/
/*Posts*/

.posts {
	overflow-x: hidden;
	margin: 80px 0;
}
.posts .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1250px;
/*	overflow-x: hidden;*/
}
.posts__title {
	margin-bottom: 25px;
}

.posts__text {
	max-width: 750px;
	text-align: center;
	margin-bottom: 30px;
}

.posts__items {
	position: relative;
	padding-bottom: 40px;
	overflow-y: visible;
}


.posts__items .slick-slider{
	min-width: 0;

}
/* Слайдер запущен */
.slick-slider.slick-initialized{
	min-width: 0;
	/* width: 100%; */
/*	overflow-x: hidden;*/
}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {}
/* Лента слайдов */
.posts__items .slick-track{
	display: flex;
}
/* Слайд */
.posts__items .posts__item.slick-slide{
	margin: 0 20px;
	opacity: 0;

}
/* Слайд активный (показывается) */
.posts__items .posts__item.slick-slide.slick-active{
	opacity: 1;
	transition: all .2s ease; 
}
/*	margin: 	0 40px;posts__item slick-slide slick-active

/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.posts__items .posts__item.slick-slide.slick-center{
	opacity: 1;
	transition: all .2s ease; 
}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.posts__items .slick-arrow{
	position: absolute;
	bottom: 0px;
	font-size: 0;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: none;
	background-color: transparent;
	z-index: 2;
	cursor: pointer;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	filter: grayscale(100%);
	transition-duration: .2s;
}

/* Стрелка влево */
.posts__items .slick-arrow.slick-prev{
	right: calc(50% + 15px);
	transform: translateX(50%);
	background-image: url(../img/right.svg);
	transform: scale(-1);
}
/* Стрелка вправо */
.posts__items .slick-arrow.slick-next{
	left: calc(50% + 15px);
	transform: translateX(-50%);
	background-image: url(../img/right.svg);
}

.slick-arrow:hover {
	filter: none;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.posts__items .slick-active + .slick-active + .slick-active {
/*	margin-right: 0;*/
}

.posts__item {
	max-width: 370px;
	border: 1px solid #f8f8f8;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	transition-duration: .2s;
}

.posts__item:hover {
	background-color: #362f2d;
	border: 0px solid #f8f8f8;
	transform: scale(1.05);
}

.posts__item:hover .post__title {
	color: #c7b299;
}

.posts__item:hover .post__day {
	background-color: #c7b299;
}
.posts__item:hover .post__month {
	background-color: #a48d72;
}

.post__date {
	position: absolute;
	top: 20px;
	left: 20px;
	border-radius: 3px;
	overflow: hidden;
	z-index: 1;
}
.post__day {
	background-color: #363636;
	text-align: center;
	padding: 5px 5px;
	font-size: 24px;
	font-weight: 300;
	color: #fff;
	width: 100%;
	transition-duration: .2s;
}
.post__month {
	background-color: #000;
	text-align: center;
	padding: 5px 5px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 12px;
	color: #fff;
	width: 100%;
	transition-duration: .2s;
}

.post__img {
	max-width: 100%;
	overflow-x: hidden;
	position: relative;
}

/* Слайдер */
.post__img .slick-slider{
	overflow-x: hidden;
}

.post__img .slick-slide {

}
/* Лента слайдов */
.post__img .slick-track{
	background-color: #fff;
}

.post__img .slick-dots{
	display: flex;
	position: absolute;
	bottom: 20px;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.post__img .slick-dots li{
	box-sizing: content-box;
	background-color: transparent;
	border-radius: 50%;
	opacity: 0.702;
	width: 11px;
 	height: 11px;
 	margin: 0 5px;
 	font-size: 0;
 	background-color: #999897;
}
/* Активная точка */
.post__img .slick-dots li.slick-active{
	background-color: transparent;
	border: 2px solid #d3c1ad;
	font-size: 0;
}
/* Элемент точки */
.post__img .slick-dots li button{
	font-size: 0;
	opacity: 0;
}

.post__img {
	width: 100%;
	max-height: 220px;
	overflow: hidden;
}

.post-img {
	-o-object-fit: cover;
	   object-fit: cover;
	   width: auto;
	  max-width: 370px;
	  max-height: 220px;
}

.post__content {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 30px;
}

.post__title {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 500;
	color: #555;
	transition-duration: .2s;
}

.post__text {
	letter-spacing: 1px;
	font-size: 14px;
	margin-bottom: 15px;
	flex: 1 1 auto;
}

.post__btn {
	display: inline-block;
	color: #c7b299;
	padding-right: 20px;
}

.post__btn i.icon-arrow {
	font-size: 8px;
}

/*===================================*/
/*Logos*/

.logos {
	padding: 135px 0;
	background-image: url(../img/logos-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 58%;
}

.logos .container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.logos-img {
	flex: 0 1 calc(25% - 40px);
	/*width: 220px;*/
	margin-right: 30px;
	margin-bottom: 30px;
}

.logos-img:last-child {
	margin-right: 0;
}


/*=========================================*/
/*Footer*/

footer.columns {
	background-color: #191919;
	padding: 100px 0 80px 0;
}

footer .container {
	display: flex;
	justify-content: center;
}

.footer__column-wrapper {
	flex: 0 1 50%;
	display: flex;
}

.footer__column {
	flex: 0 1 50%;
	display: flex;
	flex-direction: column;
	margin-right: 30px;
}

.footer__column-wrapper_second .footer__column:last-child {
	margin-right: 0;
}
/*.footer__column:last-child {
	padding: 0;
}*/

.footer__column_logo{

}
footer .logo {
	align-self: flex-start;
	margin-top: -25px;
	flex: 0 1 50px;
	margin-bottom: 25px;
}

.footer__text {
	margin-bottom: 30px;
}
.logo__img {}
.logo-img {}
footer .post__btn {
	color: #fff;
}
.icon-arrow {}
.footer__column-title {
	font-size: 24px;
	color: #fff;
	font-weight: 700;
	font-family: "Raleway", "Arial", sans-serif;
	margin-bottom: 25px;
	white-space: nowrap;
}

.footer__column-content {
	justify-content: flex-end;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.footer__column-content_widget {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	-ms-grid-rows: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px;
}

.footer-content__widget-wrapper {
		position: relative;
		transition-duration: .1s;


}

.footer-content__widget {
	-o-object-fit: cover;
	   object-fit: cover;
}

.footer-content__widget-wrapper:hover {
	transform: scale(1.05);
}

.footer__post {
	padding: 20px 0;
	border-bottom: 1px solid #252525;
	cursor: pointer;
}

.footer__post:first-child {
	padding-top: 0;
}

.footer__post:last-child {
	border: none;
	padding-bottom: 0;
}

.footer__post:first-child {
	margin-top: 0;
}
.waxom-post {

}

.footer__post time {
	display: block;
	color: #363636;
	opacity: 0.9;
	font-size: 12px;
	font-weight: 300;
	transition-duration: .1s;
}

.footer__post:hover time {
	opacity: 1;
	color: #fff;
}

.footer__post:hover p {
	color: #c7b299;
	transition-duration: .1s;
}


.footer-content__widget {}

footer.rows {
	background-color: #111;
}

footer.rows .container {
	display: flex;
	justify-content: space-between;
	padding: 40px 20px;
}
.rows {
	font-size: 13px;
	color: #555;
	font-weight: 300;
}

.rows a:hover {
	color: #c7b299;
}
.footer__links {
	display: flex;
	justify-content: space-between;
	max-width: 400px;
}

.copyright__link {
	padding-left: 10px;
	color: #959595;
}

.footer__links li {
/* 	white-space: nowrap; */
	padding: 0 10px;
	border-right: 1px solid #232323;

}
/*.footer__links li a{
	line-height: 1em;	
}
*/
.footer__links li:first-child {
	padding-left: 0;
}

.footer__links li:last-child {
	border: none;
	padding-right: 0;
}
.autors {
	display: flex;
	justify-content: space-between;
	max-width: 340px;
}

.autors li {
	white-space: nowrap;
	padding: 0 10px;
	border-right: 1px solid #232323;
}

.autors li:first-child {
	padding-left: 0;
}

.autors li:last-child {
	border: none;
	padding-right: 0;
}

.autors a {
	color: #959595;
}



/*============================================*/
/*Animate*/

.layer0 {
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	position: fixed;
}

.layer0._animate {
	opacity: 1;
	background-color: #fff;
	transition-duration: .7s;
}

.layer0._animate-Active {
	background-color: transparent;
}

._animate {
	transition: all 0.5s ease;
	opacity: 0;
}

._animate-left {
	transform: translateX(-100px);
}

._animate-right {
	transform: translateX(100px);
}
._animate-top {
	transform: translateY(100%);	
}

._animate-bottom {
	transform: translateY(-100%);	
}

._animate-Active {
	transform: translateX(0);
	transform: translate(0);
	opacity: 1;
}


/*============================================*/
/*Media*/

@media(max-width: 990px){


	nav{
		position: absolute;
		width: 100%;
		height: inherit;

	}

	.nav__icons{
		position: absolute;
		justify-content: flex-end;
		width: 100%;
		left: 0;
	}

	.nav__icon{
		margin-top: 13px;
	}

	.head{
		justify-content: center;
	}

	.menu__btn{
		opacity: 1;
	}

	/* контейнер меню */
	.nav__list {
	  	display: block;
	  	position: fixed;
	  	z-index: 3;
	  	visibility: hidden;
	  	top: 0;
	  	left: -100%;
	  	width: 300px;
	  	min-height: 100vh;
	  	margin: 0;
	  	padding: 80px 0;
	  	list-style: none;
	  	text-align: center;
	  	background-color: #ECEFF1;
	  	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	 	transition: all 0.2s ease;
	}

	/* элементы меню */
	.nav__item, .cart span {
	  display: block;
	  padding: 12px 24px;
	}

	.nav__item:after {
		display: none;
	}

	.nav__link, .cart span {
		font-family: "Montserrat", "Arial", sans-serif;
 		color: #333;
		font-size: 20px;
		font-weight: 600;
		text-decoration: none;
	}

	.nav__item:hover, .cart span:hover {
	  background-color: #CFD8DC;
	  color: #333;
	}

	.cart {
		font-size: 0px;
	}

	.cart span {
		margin-top: -25px;
	}

	.icon-icon-search {
		color: #fff;
	}

	#menu__toggle:checked ~ .menu__btn > span {
	  transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before {
	  top: 0;
	  transform: rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after {
	  top: 0;
	  transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .nav__list {
	  visibility: visible;
	  left: 0;
	}

	header .slick-arrow{
		opacity: 0;
		pointer-events: none;
	}


	/*Work*/

	.work__item{
		flex: 0 0 50%;
		margin-top: 30px;
	}

	.work__item:nth-child(1), .work__item:nth-child(2){
		margin-top: 0;
	}


	/*Projects*/

	.project {
		flex: 0 1 calc(50% - 30px);
	}


	/*Logos*/

	.logos-img {
		flex: 0 1 calc(35% - 30px);
	}
	.logos-img:nth-child(2n) {
		margin-right: 0;
	}
}

@media(max-width: 850px){


	/*Mobile*/

	.mobile{
		padding-bottom: 40px;
	}

	.mobile__content p {
		margin: 10px 0 15px 0;
	}
	.mobile__img{
		display: none;
	}

	.mobile__advantages{
		margin-left: 0;
	}


	/*Footer*/

	footer.columns .container {
		flex-wrap: wrap;
	}

	.footer__column-wrapper {
		flex: 0 1 100%;
		margin-bottom: 35px;
	}
	.footer__column-wrapper:last-child {
		margin-bottom: 0;
	}

	.footer__column:last-child {
		margin-right: 0;
	}

	footer.rows .container{
		display: block;
	}

	footer.rows .container .footer__links {
		margin-bottom: 5px;
	}
}


@media(max-width: 700px){


	/*Counts*/

	.counts .container {
		flex-wrap: wrap;
		justify-content: center;
	}

	.count {
		flex: 0 0 25%;
		width: 135px;
		margin-bottom: 20px;
	}

	.count:nth-child(3), .count:last-child {
		margin-right: 0	;
	}

	/*Project*/

		.projects__tab-btns {
			max-width: 350px;
		}

		.project {
			flex: 0 1 calc(100% - 30px);
		}

		.project__img-wrapper {
			height: 400px;
		}

		.project__overlay {
			opacity: 1
		}
}


@media(max-width: 600px){


	/*Presentaion*/

	.presentation {
		margin-bottom: 269px;
	}

	.overlay__content{
		padding: 50px 20px;
		position: absolute;
		bottom: -269px;
		background-color: #111;
	}


	/*Posts*/

	.posts__items .posts__item.slick-slide{
		margin: 0 20px;
	}

	.posts__item {
		max-width: 370px;
		width: 100%;
	}

	.post__img {
		max-width: 370px;
		width: 100%;
	}

	.post-img {
		max-width: 370px;
		width: 100%;
	}


	/*Logos*/

	.logos-img {
		flex: 0 1 60%;
		margin-right: 0;
	}
}


@media(max-width: 500px) {

	/*Works*/

	.work__item{
		flex: 0 0 100%;
		justify-content: center;
	}

	.work__item:nth-child(2) {
		margin-top: 30px;
	}

	.work__item:nth-child(odd){
		justify-content: center;
	}

	/*Counts*/

	.count {
		flex: 0 1 100%;
		margin-right: 0;
	}

	/*Footer*/

	.footer__column-wrapper {
		flex-wrap: wrap;
		margin-bottom: 0;
	}

	.footer__column {
		flex: 0 1 100%;
		margin: 0 0 35px;
	}

	.footer__column-content {
		height: 0;
		transition: all 1s ease;
	}

	.footer__column-title {
		cursor: pointer;
	}

	._show {
		height: 100%;
	}

	._no-hide {
		cursor: default;
	}
	.footer__column-wrapper_second .footer__column:last-child {
		margin: 0;}
	}

/*Можно увеличить*/
@media(max-width: 375px){
	

	/*Header*/
	nav{
		justify-content: flex-end;
	}
	.nav__icons{
		flex: 0 1 auto;
	}

	.nav__icon{
		padding-left: 10px;
	}


	h1{
		font-size: 42px;
	}


	/*Presentation*/

	.overlay__content {
		padding: 30px 20px;
	}


	/*Posts*/
	.posts__items {
		padding-bottom: 0px;
	}
	.posts__items .slick-arrow {
		bottom: 20px;
	}
	.posts__items .posts__item.slick-slide{
		transform: scale(0.7);
	}
}


@media(max-height: 500px){
	.offer{
		transform: translate(-50%, 15%) scale(0.5) !important;
		top: auto;
		bottom: 4%;
	}

	.offer._animate-Active {
		opacity: 1;
	}
}


/* Engine page */


.engine .container{
	display: flex;
	flex-direction: column;
}

.engine__link-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	background-image: linear-gradient( 90deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
	margin-bottom: 70px;
	padding: 10px 20px
}

.engine__link-container_bottom {
	margin: 70px 0 0 0;
}
.engine__link-container_bottom .container {
	display: flex;
	align-items: center;
	padding-bottom: 30px;
}
.engine__link {
	display: inline-block;
	
}
.engine__link_block {
	display: block;
	width: 100%;
	margin-top: 50px;
}
.engine__title {
	margin-bottom: 50px;
}
.engine__img-container {
	margin-bottom: 50px;
}
.engine__img {

}
.engine__text {
	text-align: justify;
	margin-bottom: 50px;
}

.engine-pros-and-cons__title {
	color: #000;
	text-align: left;
}
.engine-pros-and-cons__title span {
	color: #b39b84;
	font-weight: 700;
}

.engine-pros-and-cons {
	margin: 15px 0;
}
.engine__pros
.engine__pro
            
.engine__cons
.engine__con
